<p id="notice"><%= notice %></p>

<p>
  <strong>Policyno:</strong>
  <%= @renewal.policyno %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @renewal.begin_date %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @renewal.expiry_date %>
</p>

<p>
  <strong>Insurance policy:</strong>
  <%= @renewal.insurance_policy %>
</p>

<%= link_to 'Edit', edit_renewal_path(@renewal) %> |
<%= link_to 'Back', renewals_path %>
